.wrapper {
    height: calc(100vh - 80px);
    width: 100%;
}
img {
    max-width: 100%;
}
.size-logo {
    width: 100px;
}
.sidebar {
    height: 100vh;
    width: 100px;
    background-color: rgb(6 30 52);
}
.sidebar p {
    color: white;
    text-align: center;
}
.main-conteiner {
    display: flex;
    height: 100vh;
    width: 100%;
}
.container-fluid {
    overflow-y: scroll;
}
.btn-red {
    height: 30px;
    width: 30px;
    border-radius: 50% ;
    background-color: #f26551;
    color: white;
    border: none;
    margin-right: 10px;
}
.badge {
    background-color:#165bba ;
}